# Build folders
bin/
obj/
out/
Debug/
Release/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Configuration
appsettings.*.json
!appsettings.json

# Databases
*.dbmdl
*.bak
*.sql
*.ldf
*.mdf

# JetBrains Rider / IDEs
.idea/
*.sln.iml
bin/
obj/
.vs/
